@{
    ViewData["Title"] = "Hjem";
}
<h1>Velkommen til Trafikkal</h1>
<hr/>
<article>
    <h3>Meld deg inn i dag!</h3>
    <hr/>
    <p>
        <a asp-controller="Account" asp-action="Register">Register deg </a>i dag og du får mulighet til ta vår online teorieksamen.
    </p>
</article>
<br/>
<article>
    <h3>Om siden</h3>
    <hr/>
    <p>Denne siden er laget i forbindelse med obligatorisk oppgave i faget .NET programmering på Høyskolen i Sør-Øst Norge.</p>
    <p>Kildekode for nettsiden finnes <a href="https://github.com/KristofferRisa/Obligatorisk-oppgave-.net/">her</a>
    </p>
    <p>
        Laget av Kristoffer Risa 2017
    </p>
</article>
