@{
    ViewData["Title"] = "Hjem";
}
<h1>Velkommen til Trafikkal</h1>
<hr/>
<article>
    <h3>Opprett konto</h3>
    <p>
        <a asp-controller="Account" asp-action="Register">Registrer deg </a>i dag og ta vår online quiz.
    </p>
</article>
<br/>
<article>
    <h3>Om siden</h3>
    <p>Dette er en obligatoris oppgave i .NET programmering ved Høyskolen i Sørøst-Norge.</p>
    <p>Kildekode for nettsiden finnes <a target="_blank" href="https://github.com/KristofferRisa/Obligatorisk-oppgave-.net/tree/master/Trafikkal/">her.</a>
    </p>
</article>
