
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    
    
    <hr />
    <div>
        <ul class="list-group">
            <li class="list-group-item">

                <a asp-area="Student" asp-controller="Test" asp-action="Step" title="Eksamen">Ta eksamen</a>

            </li>

            <li class="list-group-item">
                <a asp-area="Admin" asp-controller="Manage" asp-action="ChangePassword" title="Manage">Endre passord</a>
            </li>
        </ul>

    </div>
</div>
