@model Trafikkal.web.Models.TestViewModels.ResultViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<br/>
<div class="row">
    @if ((bool)ViewData["bestatt"])
    {
        <h1 class="text-success">
            @ViewData["bestatt_tekst"]
        </h1>

    } else {
        <h1 class="text-danger">
            @ViewData["bestatt_tekst"]
        </h1>   
    }
 

    <br />
    <h3>Score: @Model.UserScore.Points % riktig</h3>    
    <br/>
    <ul class="list-group">
        <li class="list-group-item"><a asp-area="Student" asp-action="FullResult" asp-controller="Test">See full oversikt over alle spørsmålene</a>
        </li>
        <li class="list-group-item"><a asp-area="Student" asp-action="Reset" asp-controller="Test">Null still test</a></li>
    </ul>
</div>


