
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="jumbotron">
        @if ((bool)ViewData["bestatt"])
        {
            <h1 class="text-success">
                @ViewData["bestatt_tekst"]
            </h1>

        } else {
            <h1 class="text-danger">
                @ViewData["bestatt_tekst"]
            </h1>   
        }
            
</div>
<div class="container">
    <h2>Du klarte :</h2>
    <h3>@ViewData["prosent"]% riktig</h3>    
</div>
<hr/>
<br/>

<a asp-area="Student" asp-action="Reset" asp-controller="Test">Null still test</a>