
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Du klarte :</h2>
<h3>@ViewData["prosent"]% riktig</h3>

<hr/>
<br/>

<a asp-area="Student" asp-action="Reset" asp-controller="Test">Null still test</a>