@model IEnumerable<ubåtspill.website.Models.Highscore>


<div class="text-center">
    <h1>Hall of fame</h1>
    <h3>Ubåt online</h3>    
</div>

<div class="page-header">
    <a href="https://skole.file.core.windows.net/skole/ubåtspill.exe?sv=2016-05-31&ss=f&srt=o&sp=r&se=2099-04-06T00:57:19Z&st=2017-04-04T13:57:19Z&spr=https&sig=nHTBK9DsPUjwtRK2pTglSmBmrJnI%2BOCrhGZVo9p8AbU%3D" target="_blank" class="btn btn-primary btn-lg btn-block">Last ned spill</a>
</div>

<div style="" class="">
    <table class="table" style="margin: auto; width: 70%; ">
        <thead>
            <tr>
                <th>
                    Rank
                </th>
                <th>
                    Alias
                </th>
                <th>
                    Score
                </th>
                <th>
                    Level
                </th>
                @*<th>
                    Date
                </th>*@
            </tr>
        </thead>
        <tbody>
        @{var rank = 0;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{ rank++;}
                    @rank
                </td>
                <td class="">

                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>*@
            </tr>
        }
        </tbody>
    </table>
</div>


